<style>
    button {
      transition: all 200ms ease;
      width: 100%;
      height: 34px;
      padding: 0.3rem 0.7rem;
      font-weight: 600;
      font-size: 12px;
      color: #828282;
      border: 1px solid #000;
      background: transparent;
    }
    button:hover {
      cursor: pointer;
      color: #fff;
      background: #000;
    }


    .product__title-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
    }
    .product__title {
        font-size: 12px;
    }
    .product-price {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: flex-end;
    }
    .pdp_shipping-info {
        color: gray;
        font-size: 8px;
    }
</style>


<div class="product__details--container">
    <div class="product__title-wrapper">
        <h1 class="product__title" itemprop="name">{{ product.title }}</h1>

        <div class="product__price">
            <span itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">{{ current_variant.price | money }}</span>
            <p class="pdp_shipping-info">inkl. Steuern &amp; Zölle/zzgl. <a href="" target="_blank">Versandkosten</a></p>
        </div>
    </div>

    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
      <select name="id" id="productSelect" class="product-single__variants">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
            </option>
          {% endif %}
        {% endfor %}
      </select>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
        <p id="ComparePrice">
          {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
        </p>
      {% endif %}

      <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

      <button type="submit" name="add" id="AddToCart" class="btn">
        <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
      </button>
    </form>

    <div class="product-description rte" itemprop="description">
      {{ product.description }}
    </div>
  </div>