.header__menu-list {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-transform: uppercase;
  }
  .header__menu-list li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
  }
  .menu-spacing {
    height: 20px;
  }
  .header__menu-list a {
    color: #000;
    font-size: 10px;
    letter-spacing: .54px;
    line-height: 18px;
  }
  .header__menu-toggle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 15px;
    justify-content: center;
    position: relative;
    width: 15px;
  }
  .header__icon--world, .header__menu-toggle, .search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu-list .close-icon {
    display: none;
  }
  .header__menu-list .child, .header__menu-list .grandchild {
     max-height: 0;
    overflow: hidden;
    padding-left: 7.5px;
    -webkit-transition: max-height .5s cubic-bezier(0,1,0,1);
    transition: max-height .5s cubic-bezier(0,1,0,1);
  }
  .header__menu-list .child, .header__menu-list .grandchild {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
  }