<style>
  .banner__wrapper {
    position: fixed;
    z-index: -99;
    height: 100vh;
    width: 100vw;
  }
  .banner-slide {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .banner-slide img {
    width: 100%;
  }
</style>

<!-- Banner -->
<div class="banner__wrapper">
  <a class="banner-slide" href="">
    <img src="https://pesoclo.com/cdn/shop/files/Web_2.jpg?v=1686126107">
  </a>
</div>
<!-- End Banner -->