<!-- /templates/index.liquid -->
<div class="grid-uniform">
  {% for product in collections.frontpage.products limit:4 %}
    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
    {% include 'product-grid-item' %}
  {% endfor %}

</div>